composer.phar
/vendor/
.phpunit.result.cache
.phpunit.cache
/app/phpunit.xml
/phpunit.xml
/.phpactor.json

/.git-mvp/
/.idea/

/tests/
/TODO/
/README.dev.md
/deptrac.yaml
/src/Travers/App.php
/src/Travers/Middlewares/CommonMark/
/src/Travers/Middlewares/MathJax/
/src/Travers/Commands/DevPrintArticles.php
/src/Travers/Commands/DevPrintRawArticles.php
/src/Travers/Commands/GetArticlesNew.php
/src/Travers/Commands/RemovePreviewColors.php
/src/Travers/Commands/DevTest.php
/src/Travers/Middlewares/FrontmatterValidationModule.txt
