composer.phar
/vendor/
.phpunit.result.cache
.phpunit.cache
/app/phpunit.xml
/phpunit.xml
/.phpactor.json
/reports/
/.idea/

/tests/
/TODO/
/README.dev.md
/deptrac.yaml
/src/Travers/App.php
/src/Travers/Middlewares/CommonMark/
/src/Travers/Middlewares/MathJax/
/src/Travers/Middlewares/FrontmatterValidationModule.txt
